hello*
a.out
modules.order
Module.symvers
.hw1*
hw1.mod.*
scratch*
core-project/remotesync
*.o
core-project/prog*/*.o
HW/cache
HW/KernMod/*.ko
.sconsign.dblite
core-project/cse502-cpu
core-project/prog1/prog1
core-project/prog2/prog2
*.bc